[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
opencv-python = "*"
nltk = "*"
beautifulsoup4 = "*"
tensorflow = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
